*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 1.6; }

.container {
  width: 80vw;
  margin: 0 auto; }

.btn {
  cursor: pointer; }

.custservice {
  display: flex;
  height: 45rem;
  background-color: whitesmoke; }
  .custservice__cover {
    padding-top: 12rem;
    height: 100%;
    width: 70%;
    background-image: url(../images/exceptional.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat; }
  .custservice__content-box {
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 12rem; }
  .custservice .heading-1 {
    color: #673ab7;
    font-weight: 300; }
  .custservice .excep-para {
    width: 80%;
    font-size: 1.4rem; }
  .custservice .btn-custservice {
    padding: 1.2rem 3rem;
    background-color: #503392;
    color: #cecece;
    text-decoration: none;
    font-size: 1.4rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(rgba(52, 29, 92, 0.8) 50%, rgba(103, 58, 183, 0.8) 100%), url(../images/hero.png);
  background-position: bottom;
  background-size: cover; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 5rem; }
  .header__logo {
    height: 2rem; }
  .header .navbar__list {
    font-size: 1.4rem;
    list-style: none; }
  .header .navbar__item {
    display: inline-block; }
  .header .navbar__link:link, .header .navbar__link:visited {
    color: #cecece;
    text-decoration: none;
    padding: 0 2rem;
    text-transform: uppercase;
    transition: all 0.1s; }
    .header .navbar__link:link:hover, .header .navbar__link:link:active, .header .navbar__link:visited:hover, .header .navbar__link:visited:active {
      color: #fff; }
    .header .navbar__link:link:active, .header .navbar__link:visited:active {
      font-weight: 700; }
  .header__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem; }
  .header .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .heading-primary--sub {
      margin-top: 2rem;
      margin-bottom: 6rem;
      font-weight: 100; }
  .header .btn-outline {
    border: none;
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    padding: 0.8rem 4rem;
    border-radius: 999999rem;
    border: 1px solid #cecece;
    text-decoration: none;
    font-weight: 100;
    transition: all 0.2s; }
    .header .btn-outline:hover {
      color: #fff;
      font-weight: 300; }

.services .services-wrapper {
  display: flex;
  justify-content: space-between; }

.services__header {
  margin-right: 20rem; }
  .services__header h1 {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    color: #cecece; }

.services__category-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .services__category-item img {
    height: 3rem; }

.services__category-content {
  cursor: pointer;
  margin-left: 3rem; }
  .services__category-content p {
    width: 70%;
    font-size: 1.2rem; }
  .services__category-content .heading-4:hover {
    color: #673ab7; }

.heading-1 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  line-height: 1; }

.heading-3 {
  line-height: 1;
  font-size: 2.4rem;
  color: #cecece;
  font-weight: 300; }

.heading-4 {
  font-size: 1.5rem;
  color: #333333; }

.mt {
  margin-top: 12rem; }

.mb {
  margin-bottom: 2rem; }
