*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  line-height: 1.6; }

.container {
  width: 80vw;
  margin: 0 auto; }

.btn {
  cursor: pointer; }

.custservice {
  display: flex;
  height: 45rem;
  background-color: whitesmoke; }
  .custservice__cover {
    padding-top: 12rem;
    height: 100%;
    width: 70%;
    background-image: url(../images/exceptional.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat; }
  .custservice__content-box {
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 12rem; }
  .custservice .heading-1 {
    color: #673ab7;
    font-weight: 300; }
  .custservice .excep-para {
    width: 80%;
    font-size: 1.4rem; }
  .custservice .btn-custservice {
    padding: 1.2rem 3rem;
    background-color: #503392;
    color: #cecece;
    text-decoration: none;
    font-size: 1.4rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(rgba(52, 29, 92, 0.8) 50%, rgba(103, 58, 183, 0.8) 100%), url(../images/hero.png);
  background-position: bottom;
  background-size: cover; }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 5rem; }
  .header__logo {
    height: 2rem; }
  .header .navbar__list {
    font-size: 1.4rem;
    list-style: none; }
  .header .navbar__item {
    display: inline-block; }
  .header .navbar__link:link, .header .navbar__link:visited {
    color: #cecece;
    text-decoration: none;
    padding: 0 2rem;
    text-transform: uppercase;
    transition: all 0.1s; }
    .header .navbar__link:link:hover, .header .navbar__link:link:active, .header .navbar__link:visited:hover, .header .navbar__link:visited:active {
      color: #fff; }
    .header .navbar__link:link:active, .header .navbar__link:visited:active {
      font-weight: 700; }
  .header__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem; }
  .header .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; }
    .header .heading-primary--main {
      animation: slideInLeft 1s ease-out; }
    .header .heading-primary--sub {
      margin-top: 2rem;
      margin-bottom: 6rem;
      font-weight: 100;
      animation: slideInRight 1s ease-out; }
  .header .btn:link,
  .header .btn:visited {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative; }
  .header .btn-outline {
    border: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.8rem 4rem;
    border-radius: 999999rem;
    border: 1px solid #cecece;
    font-weight: 100;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards; }
    .header .btn-outline:hover {
      transform: translateY(-0.3rem);
      color: #fff;
      font-weight: 300;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .header .btn-outline:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.portfolio__content-box {
  text-align: center; }

.portfolio__para {
  font-size: 1.4rem; }

.portfolio .heading-1 {
  color: #333333; }

.portfolio__list {
  list-style: none;
  display: flex;
  justify-content: center; }

.portfolio__item {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 1rem; }

.portfolio__link:link, .portfolio__link:visited {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #333333;
  border: 1px solid #333333; }

.portfolio__link:hover {
  background-color: #503392;
  color: #fff;
  border: 1px solid #503392; }

.portfolio__gallery {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap; }

.portfolio__gallery-item img {
  width: 20rem; }

.services .services-wrapper {
  display: flex;
  justify-content: space-between; }

.services__header {
  margin-right: 20rem; }
  .services__header h1 {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    color: #cecece; }

.services__category-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .services__category-item img {
    height: 3rem; }

.services__category-content {
  cursor: pointer;
  margin-left: 3rem; }
  .services__category-content p {
    width: 70%;
    font-size: 1.2rem; }
  .services__category-content .heading-4:hover {
    color: #673ab7; }

.statistics {
  background-image: url(../images/client-sat.png);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #673ab7;
  background-blend-mode: soft-light;
  color: #fff;
  height: 300px; }
  .statistics__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .statistics__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10rem; }
    .statistics__content span {
      font-size: 2rem;
      font-weight: 700;
      margin-top: 2rem; }
    .statistics__content p {
      font-weight: 300; }

.heading-1 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  line-height: 1; }

.heading-3 {
  line-height: 1;
  font-size: 2.4rem;
  color: #cecece;
  font-weight: 300; }

.heading-4 {
  font-size: 1.5rem;
  color: #333333; }

.mt {
  margin-top: 12rem; }

.mb {
  margin-bottom: 2rem; }

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #555555;
  color: #fff; }
  .footer__content {
    text-align: center; }
    .footer__content .heading-3 {
      color: #fff;
      font-weight: 400;
      margin-bottom: 1rem; }
    .footer__content .footer-para {
      margin-bottom: 3rem; }
  .footer .para-msg {
    margin: 2rem 0;
    font-size: 1.8rem;
    text-transform: capitalize; }
  .footer .form-box {
    display: flex;
    flex-wrap: wrap; }
  .footer .form {
    display: flex;
    flex-direction: column;
    margin-right: 7rem; }
    .footer .form input {
      background-color: inherit;
      display: block;
      width: 30rem;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid #cecece; }
    .footer .form #msg {
      padding: 1rem;
      color: #555555;
      background-color: inherit;
      border: 1px solid #cecece; }
    .footer .form .btn-send {
      background-color: #503392;
      padding: 1rem 2rem;
      margin-top: 1rem;
      color: #fff;
      text-align: center;
      cursor: pointer; }
  .footer .address .para-address {
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .footer .address__box {
    display: flex;
    flex-direction: column; }
  .footer .address__item {
    display: flex;
    margin-bottom: 2rem; }
  .footer .address .fa {
    margin-right: 2rem; }

.footer-bottom {
  background-color: #333333;
  padding: 2rem 0;
  color: grey; }
  .footer-bottom__wrapper {
    display: flex;
    justify-content: space-between; }
  .footer-bottom .social .fa {
    margin-left: 2rem; }
  .footer-bottom .social .fa:hover {
    cursor: pointer;
    color: #cecece; }
