.custservice {
	display: flex;
	height: 45rem;
	background-color: rgb(245, 245, 245);
	&__cover {
		padding-top: 12rem;
		height: 100%;
		width: 70%;
		background-image: url(../images/exceptional.png);
		background-size: cover;
		background-position: right;
		background-repeat: no-repeat;
	}
	&__content-box {
		padding-top: 12rem;
		padding-bottom: 12rem;
		padding-left: 12rem;
	}
	.heading-1 {
		color: $color-primary-2;
		font-weight: 300;
	}
	.excep-para {
		width: 80%;
		font-size: 1.4rem;
	}
	.btn-custservice {
		padding: 1.2rem 3rem;
		background-color: $color-primary-1;
		color: $color-tertiary;
		text-decoration: none;
		font-size: 1.4rem;
	}
}
