.header {
	height: 80vh;
	background-image: linear-gradient(
			rgba($color-primary-3, 0.8) 50%,
			rgba($color-primary-2, 0.8) 100%
		),
		url(../images/hero.png);
	background-position: bottom;
	background-size: cover;

	&__top {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding-top: 5rem;
	}
	&__logo {
		height: 2rem;
	}
	.navbar {
		&__list {
			font-size: 1.4rem;
			list-style: none;
		}
		&__item {
			display: inline-block;
		}

		&__link:link,
		&__link:visited {
			color: $color-tertiary;
			text-decoration: none;
			padding: 0 2rem;
			text-transform: uppercase;
			transition: all 0.1s;

			&:hover,
			&:active {
				color: $color-white;
			}
			&:active {
				font-weight: 700;
			}
		}
	}
	&__text-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 10rem;
	}
	.heading-primary {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		backface-visibility: hidden; // prevents shaking animation

		&--main {
			animation: slideInLeft 1s ease-out;
		}

		&--sub {
			margin-top: 2rem;
			margin-bottom: 6rem;
			font-weight: 100;

			animation: slideInRight 1s ease-out;
		}
	}
	.btn:link,
	.btn:visited {
		text-decoration: none;
		display: inline-block;
		transition: all 0.2s;
		position: relative;
	}

	.btn-outline {
		border: none;
		color: $color-white;
		font-size: 1.4rem;
		padding: 0.8rem 4rem;
		border-radius: 999999rem;
		border: 1px solid $color-tertiary;
		font-weight: 100;

		animation: moveInBottom 1s ease-out 0.75s;
		animation-fill-mode: backwards; // automatically applys styles of 0% before animation starts

		&:hover {
			transform: translateY(-0.3rem);
			color: $color-white;
			font-weight: 300;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		}
		&:active {
			transform: translateY(-0.1rem);
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		}
	}
	// Animations
	@keyframes slideInLeft {
		0% {
			opacity: 0;
			transform: translateX(-10rem);
		}
		80% {
			transform: translateX(1rem);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes slideInRight {
		0% {
			opacity: 0;
			transform: translateX(10rem);
		}
		80% {
			transform: translateX(-1rem);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes moveInBottom {
		0% {
			opacity: 0;
			transform: translateY(3rem);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
